{% extends "layouts/base.html" %}
{% block title %}Subjects | Add Subjects{% endblock %}
{% block body_block %}    
<div class="container-fluid d-block  mt-5">
    <header class="mb-auto  mx-5 px-5  mb-5">
        <div>
            <h3 class="float-md-start mb-0">LOGO</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link " aria-current="page" href="{% url 'index' %}">Home</a>
                <a class="nav-link active" href="{% url 'app' %}">App</a>
                <a class="nav-link" href="#">Contact</a>
            </nav>
        </div>
    </header>
    <form class="mt-5 mx-5 px-5 py-5" action="{% url 'addsub' %}" method="POST">
      {% csrf_token %} 
        <div class="mb-3">
          <label for="subname" class="form-label">Subject Name</label>
          <input type="text" class="form-control" name="name" id="subname" aria-describedby="subNameHelp" required>
          <div id="subNameHelp" class="form-text">Enter Subject's Full Name.</div>
        </div>
        <div class="mb-3">
          <label for="subshort" class="form-label">Short Name</label>
          <input type="text" class="form-control" id="subshort" name="short_name" required> 
        </div>        
        <div class="mb-3">
          <label for="subcode" class="form-label">Subject Code</label>
          <input type="text" class="form-control" id="subcode" name="code" required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" name="status" id="activeCheck">
          <label class="form-check-label text-center" for="activeCheck">Active</label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Add Subject</button>
      </form>

      <br><br><br>
         
    <table class="table table-hover table-responsive-sm table-responsive-md text-white caption-top mx-5 my-5">
      <caption></caption>
      <thead>
          <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Short Name</th>
          <th scope="col">Subject Code</th>
          <th scope="col">Status</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          </tr>
      </thead>
       <tbody>
         {% for sub in subs %}
          <tr>
          <th scope="row">{{ forloop.counter }} </th>
          <td>{{sub.name}}</td>
          <td>{{sub.short_name}}</td>
          <td>{{sub.code}}</td>
          <td>{% if sub.status %} Active 
            {% else %}
            Inactive 
            {% endif %}</td>
          <td><a href="{% url 'subject' sub.id %}">Edit</a></td>
          <td><a href="{% url 'deletesub' sub.id %}">Delete</a></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  <br><br>


</div>
 {% endblock body_block %} 