{% extends "layouts/base.html" %}
{% block title %}App Page{% endblock %}
{% block body_block %}    
<div class="container d-block text-center">
    <header class="mb-auto  mx-5 px-5">
        <div>
            <h3 class="float-md-start mb-0">LOGO</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link " aria-current="page" href="{% url 'index' %}">Home</a>
                <a class="nav-link active" href="{% url 'app' %}">App</a>
                <a class="nav-link" href="#">Contact</a>
            </nav>
        </div>
    </header>
    <div class="header mt-5">
        <h1>App Page</h1>
        <button type="button" class="btn btn-outline-success" onclick="location.href='{% url 'addstudent' %}'">Add Student</button>
        <button type="button" class="btn btn-outline-secondary" onclick="location.href='{% url 'addsub' %}'">Add Subject</button>
    </div>
    
    <table class="table table-hover table-responsive-sm table-responsive-md text-white caption-top">
        <caption></caption>
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Roll</th>
            <th scope="col">Subject</th>
            <th scope="col">DoB</th>
            <th scope="col">Gender</th>
            <th scope="col">Image</th>  
            <th scope="col">Edit</th>  
            </tr>
        </thead>
         <tbody>
             {% for student in students %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{student.first_name}}</td>
                <td>{{student.last_name}}</td>
                <td>{{student.roll}}</td>
                <td>{{student.subject}}</td>
                <td>{{student.dob}}</td>
                <td>{{student.gender}}</td>
                <td class="h-15"><img style="height: 30px;" src="{{student.image.url}} " alt=""></td>
                <td><a href="#">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}